@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* Tambahkan di global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1c1917;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ca8a04;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ca8a04;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ca8a04 #1c1917;
}
